h1 {
    color: white;
    font-style: oblique;
    padding: 15px;
    font-size: 40px;
}

.movies{
    display:flex;
    flex-wrap: wrap;
    overflow:hidden;
    flex-flow:row;
    overflow-x: auto;
}

.movies::-webkit-scrollbar {    display: none;}

.movie-card{
    background-color: #333;
    width: 400px;
    margin:10px;
    min-height:200px;
    cursor:pointer;
    display:flex;
}

.movie-image{
    max-width: 100%;
    max-height: 100%;
}

.progbar_container{
    width: 100%;
  background-color: #333; 
}

.progbar{
   
    padding-top: 1px;
    padding-bottom: 1px;
    width: 65%; background-color: rgb(202, 43, 43);
}

/* .movie-info{
    background-color: rgb(92, 92, 92);
    text-align: center;
    display:none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position:absolute;
    z-index:1;
    flex-direction: column;
    font-family: inherit;
}
.movie-info p{
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    text-align: center;
    font-family: Verdana;  
    width: 370px;
    justify-content: center;
    align-items: center;
}

.movie-card:hover .movie-info{
    display:flex;
} */
